<html>
<body>
<font face = "Times New Roman" size = "3">
Hi Team,<br><br>
Please check API E-Invoice Actions<b><font color="red"> {{ api_einv_calls.stdout.split('\n')[0] }}</font></b>.Least number of E-Invoice actions performed by API Users.
</body>
</html>
