<html>
<body>
<font face = "Times New Roman" size = "3">
Hi Team,<br><br>
Please check FTP EWB Actions<b><font color="red"> {{ ftp_calls_count.stdout.split('\n')[0] }}</font></b>.Least number of EWB actions performed by FTP users.
</body>
</html>
